*, 
*:after,
*:before {
  box-sizing: border-box;
}

/*=======================================================
Base Styles
=======================================================*/

body {
	color: #fff;
	background-color: #e6eff5;
	margin: 2em 0;
	font-family: 'Karla', sans-serif; /* 400, 700 */
}

main {
	display: grid;
	width: 90%;
	max-width: 350px;
	margin: 0 auto;
}

h1 {
	font-weight: 700;
	font-size: 1.913rem;
	margin-bottom: -0.3em;
	display: flex;
	align-items: center;
}

h2 {
	font-size: 1.383rem;
}

.inner {
	width: 95%;
	margin: 0 auto;
	padding: 1em;
}

/*=======================================================
Join Section Styles
=======================================================*/

.join {
	background-color: #fff;
	border-radius: 10px 10px 0 0;
}
	.join__header {
		color: #2ab3b1;
	}
	.join__sub-header {
		color: #c0df33;
		margin: 1.5em 0 -0.45em;
		font-size: 0.937rem;
		line-height: 1.4em;
	}
	.join__paragraph {
		font-size: 0.823rem;
		color: #9aa7be;
		line-height: 1.7em;
	}

/*=======================================================
Sign Up Section Styles
=======================================================*/
.sign-up {
	background-color: #2ab3b1;
}
	.sign-up span {
		color: rgba(255, 255, 255, 0.75);
		font-weight: 400;
		font-size: 1rem;
		margin-left: 0.5em;
	
	}
	.sign-up__button {
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		background-color: #c0df33;
		text-decoration: none;
		width: 100%;
		height: 50px;
		margin-top: 2em;
		margin-bottom: 0.5em;
		border-radius: 8px;
		box-shadow: 8px  8px 12px rgba(0, 128, 128, 0.40);
	}
	.sign-up p {
		font-size: 1rem;
	}

/*=======================================================
Why Us Section Styles
=======================================================*/
.why-us {
	background-color: #47bbb9e5;
	border-radius: 0 0 10px 10px;
}
	.why-us p {
		font-size: 0.823rem;
		line-height: 0.5em;
	}

/*=======================================================
Media Queries
=======================================================*/
@media only screen and (min-width: 700px) {
	body {
		margin: 0;
		height: 100vh; 
		display: flex;
		align-items: center;
		justify-content: center;
	}

	h2 {
		font-size: 1.476rem;
	}

	main {
		max-width: 650px;
		display: flex;
		flex-wrap: wrap;
	}

	.sign-up, 
	.why-us {
		padding: 0 0.5em;
		width: 50%
	}

	.join__sub-header {
		font-size: 1rem;
	}
	.join__paragraph {
		font-size: 0.878rem;
	}
	.sign-up {
		border-radius: 0 0 0 10px;
	}
	.why-us {
		border-radius: 0 0 10px 0;
	}

	.why-us p {
		font-size: 0.937rem;
	}
	.why-us h2 {
		margin-bottom: 1em;
	}
}